html, body {
    margin: 0;
    height: 100%;
}

#main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 684.4px;
}

#input-box {
    height: 100px;
    border: 1px solid black;
}

#past-input {
    height: 33%;
}

#current-input {
    height: 67%;
}

#button-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    width: 400px;
    height: 100px;
}

#equals {
    grid-column: 4 / span 2;
}

#pfp {
    width: 50px;
    border-radius: 50%;
}

#footer {
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    width: auto;
    padding-bottom: 20px;
}

#github-link {
    height: 50px;
}