* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

html, body {
    margin: 0;
    height: 100%;
    background-color: rgb(232, 232, 232);
}

#main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 684.4px;
}

#container {
    border: 17.5px black solid;
    background-color: black;
    border-radius: 10px;
    box-shadow: 3px 3px 3px gray;
}

#input-box {
    height: 150px;
    background-color: rgb(88, 155, 0);
    border: 5px inset rgb(56, 99, 0);
}

#past-input {
    height: 33%;
}

#current-input {
    height: 67%;
}

#button-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    width: 325px;
    height: 300px;
    grid-gap: 12.5px;
    padding-top: 17.5px;
}

.button {
    padding: 0;
    border: 0;
    background-color: rgb(204, 204, 204);
    border-radius: 5px;
    font-size: large;
    font-weight: 700;
    box-shadow: 3px 3px 3px rgb(169, 169, 169);
}

.button.clearer {
    background-color: red;
    box-shadow: 3px 3px 3px maroon;
}

.button.operator {
    background-color: green;
    box-shadow: 3px 3px 3px darkgreen;
}

.button:active {
    transform: translate(3px, 3px);
    box-shadow: none;
}

#equals {
    grid-column: 4 / span 2;
    background-color: blue;
    box-shadow: 3px 3px 3px navy;
}

#pfp {
    width: 50px;
    border-radius: 50%;
}

#footer {
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    width: auto;
    padding-bottom: 20px;
}

#github-link {
    height: 50px;
}